@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row justify-content-center align-items-center min-vh-100">
<div class="card shadow-2-strong" style="width: 30rem; height: auto; border-radius: 1rem; box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.13);">
    <h4 class="card-title mt-3 text-center" style=" margin: 30px auto 30px auto; ">Create Account | Client</h4>
    <form class="row g-3 justify-content-center align-items-center">
        <div class="col-9">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"> <i class="fa fa-user"></i> </div>
                </div>
                <input name="" class="form-control" placeholder="First Name" type="text">
                <input name="" class="form-control" placeholder="Last Name" style="margin-left:10px" type="text">
            </div> <!-- form-group// -->
        </div>

        <div class="col-9">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <select class="custom-select" style="max-width: 120px;">
                    <option selected="">+971</option>
                    <option value="1">+972</option>
                    <option value="2">+198</option>
                    <option value="3">+701</option>
                </select>
                <input name="" class="form-control" placeholder="Phone Number" type="text">
            </div>
        </div>
        <div class="col-9">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Email Address" type="email">
            </div>
        </div>
        <div class="col-9">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Create Password" type="password">
            </div>
        </div>
        <div class="col-9">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Re-enter Password" type="password">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Create Account</button>
        </div>
   
        <p class="text-center">Have an account? <a href="">Log In</a> </p>
    </form>
</div> <!-- card.// -->
</div>
